.demo.el-input {
  width: 30%;
}

a.link {
  font-size: 13px;
  text-decoration: underline;
  color: #409eff;
}

.el-row {
  margin-bottom: 20px;
}

.demo-title {
  color: #303133;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 10px;
}
